body{
   
   background-color: rgba(90, 22, 22, 0.514);
}

span {
   color: aqua;
   font-size: 20px;
}

.wrapper {
   padding: 30px;
}

.uk-card {
   background-color: rgb(252, 252, 197);
   box-shadow: 0 0 15px orange;
}

.people {
   width: 600px;
   height: 295px;
}

#vusy {
   font-style: 18px;
   font-weight: bold;
   color: rgb(48, 44, 44);
}

#date {
   font-size: 16px;
   font-weight: bold;
   color: azure;
}

#ufa {
   height: 120px;
}

#free {
   color: #fff;
   font-weight: bold;
   font-size: 16px;
}

